/// Flashcard
.page-container.Flashcard {
	padding-top: 0;
}
.flash-card-container {
	width: 100%;
	flex-grow:1;
	margin-top: 35px;
	h1 {
		color: $dark-shades;
	}
	.btn-container {
		&.flipped button {
			&:first-of-type {
				margin-right: 5px;
			}
			&:last-of-type {
				margin-left: 5px;
			}
		}
	}
	.MuiPaper-root {
		min-width: 400px;
	}
	.MuiCardContent-root,
	.MuiCardContent-root:last-child {
		padding: 60px 0;
		min-width: 50vw;
	}
	.card-front {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
.flash-card-button {
	margin-bottom: 30px;
}