/// Flashcard
.page-container.Flashcard {
	padding-top: 0;
	height: calc(100dvh - 120px); // header height + page-container padding
	// padding-bottom: 80px; // Add if we have issues with overlapping browser bar
}
.flash-card-container {
	width: 100%;
	flex-grow:1;
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h1 {
		color: $dark-shades;
	}
	.btn-container {
		&.flipped button {
			&:first-of-type {
				margin-right: 5px;
			}
			&:last-of-type {
				margin-left: 5px;
			}
		}
	}
	.MuiPaper-root {
		min-width: 400px;
	}
	.MuiCardContent-root,
	.MuiCardContent-root:last-child {
		padding: 60px 0;
		min-width: 50vw;
	}
	.card-front {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
.flash-card-button {
	margin-bottom: 30px;
}
.flash-card-outer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}
.btn-container.flash-card-button-row {
	margin-top: 24px;
	display: flex;
	width: 100%;
	justify-content: center;
	max-width: 400px;
	&.flipped {
		justify-content: space-between;
	}
}