.app-bar {
    .nav-logo {
        max-width: 145px;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            height: auto;
        }
    }
    .nav-item,
    .nav-item button span {
        color: $text-primary;
        &.MuiButton-containedPrimary {
            color: $white;
        }
    }
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.mobile-bottom-nav-root .mobile-bottom-nav {
  justify-content: space-between;
  height: $mobile-nav-height;
  .MuiBottomNavigationAction-root {
    .MuiBottomNavigationAction-label {
      font-size: 0.75rem;
    }
    &.Mui-selected {
        border-bottom: 4px solid $cta-button-color;
        .MuiBottomNavigationAction-label {
          font-size: 0.75rem;
        }
    }
  }
}