.app-bar {
    .app-bar-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .start, .end {
        display: flex;
    }
    .start .nav-item:first-of-type {
        padding-left: 0;
    }
    .end {
        .nav-item:last-of-type {
            padding-right: 0;
        }
    }
    .nav-item {
        padding: 15px;
    }
    button,
    .nav-item-wrapper {
        @include study-regular;
        color: $light-shades;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        padding: 0;
        svg {
            position: relative;
            top: 4px;
            padding-right: 5px;
        }
    }
    .nav-item-wrapper {
        &:after {
            content: '';
            height: 4px;
            width: 100%;
            background: transparent;
            display: block;
            margin-top: 12px;
        }
    }
    .nav-item-wrapper:hover:after {
        background: $light-shades;
        opacity: 30%;
    }
    .active .nav-item-wrapper:after,
    .active .nav-item-wrapper:hover:after {
        background: $light-shades;
        opacity: 100%;
    }
    @media screen and (max-width: 760px) {
        .nav-item-wrapper .nav-label {
            display: block;
        }
    }
    @media screen and (max-width: 600px) {
        .nav-item,
        .start .nav-item:first-of-type,
        .end .nav-item:last-of-type {
            padding: 10px;
        }
        .nav-item-wrapper .nav-label {
            font-size: 12px;
        }
    }
}