body {
  background: $background-main;
  margin: 0;
}
#root {
	width: 100%;
	height: 100%;
	border-radius: 2%;
	text-align: center;
	padding: 0;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	&.success, &.incorrect {
		.button-container > button {
			display: none;
		}
	}
}
.page-container {
	padding: $spacing-base 0 $spacing-base 0;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	@include max-width-wrapper;

	.logged-in & {
		margin-bottom: $mobile-nav-height;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}
header {
	min-height: 80px;
	justify-content: center;
	a {
		color: white;
		text-decoration: none;
	}
}
#mainApp {
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	h1 {
		color: $primary-dark;
	}
}
.progress-container {
	padding: $spacing-lg 0 $spacing-base 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: $spacing-sm + 2px;
	.progress {
		height: 30px;
	}
	.progress-text {
		position: relative;
		color: $text-secondary;
	}
}
.spinner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#success-modal {
	text-align: center;
	.MuiPaper-root {
		padding: $spacing-lg;
	}
	.congrats-icon {
		margin: 0 auto;
		font-size: $font-size-display-1;
	}
	.MuiDialogTitle-root {
		padding: $spacing-xs $spacing-xl;
	}
	h3 {
		margin: 0 0 $spacing-base 0;
	}
}
.MuiGrid-root {
	@include max-width-wrapper;
}