@mixin max-width-wrapper {
    width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	box-sizing: border-box;
	@media screen and (max-width: 1480px) {
		padding: $spacing-lg $spacing-base $spacing-base $spacing-base;
	}
}