#account {
    margin-top: 0;
}
.top-container {
    max-width: 1440px;
    margin: 40px auto 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .top-container-inner {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
        text-align: center;
    }
    .end {
        &.MuiCardActions-root {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0;
        }
    }
}
