.deck-card {
	margin: 10px;
	text-align: left;
	min-width: calc(50% - 20px);
    // background: lighten($spruce, 50%);
	@media screen and (max-width: 960px) {
		width: 100%;
	}
    .cart-content-top {
        display: flex;
        vertical-align: middle;
        justify-content: space-between;
        align-items: center;
        .MuiSvgIcon-root,
        .MuiAvatar-root  {
            margin-right: 5px;
        }
        .deck-info {
            display: flex;
            align-items: center;
            color: $dark-text;
            .MuiTypography-root {
                margin-right: 7px;
                text-transform: capitalize;
                &:after {
                    content: '|';
                    margin-left: 7px;
                }
                &:last-of-type:after {
                    display: none;
                }
            }
        }
        .deck-categories {
            .MuiChip-root {
                margin-left: 7px;
                background: none;
                border: 2px solid $main;
                color: $dark-text;
            }
        }
    }
    .deck-name {
        color: $dark-shades;
        margin: 40px 0 10px 0;
    }
}

.isUser {
    .deck-name {
        margin-top: 20px;
    }
}