.deck-card {
	text-align: left;
	flex-basis: calc((50% - $spacing-base / 2) - 4px);
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.08);
	transition: box-shadow 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid $white;

	&:hover {
		box-shadow: 0 8px 20px rgba(0,0,0,0.12);
	}

    &.is-own-deck {
        border: 2px solid $primary-dark;
    }

    &:last-child {
        margin-bottom: 0;
    }

	@media screen and (max-width: 700px) {
		flex-basis: 100%;
	}

	&__action-area {
		// ".deck-card &" for specificity to override the default MUI styles
		&-top {
			flex-grow: 1;
			&__content {
				width: 100%;
			}
			.deck-card & {
				display: flex;
				justify-content: flex-start;
			}
		}
		&-bottom {
			flex: 0;
			.deck-card & {
				padding: 0 $spacing-base $spacing-base $spacing-base;
				justify-content: space-between;

			}
		}
	}

	.MuiCardContent-root {
		padding-bottom: $spacing-sm;
	}

    .card-content-top {
        display: flex;
        vertical-align: middle;
        justify-content: space-between;
        align-items: center;
        min-height: 28px;
		margin-bottom: $spacing-sm + 2px;
        .MuiSvgIcon-root,
        .MuiAvatar-root  {
            margin-right: $spacing-sm;
			font-size: $font-size-lg;
			color: #6c757d;
        }
        .deck-info {
            display: flex;
            align-items: center;
            color: #6c757d;
            .MuiTypography-root {
                margin-right: 0;
				font-size: $font-size-sm;
				font-weight: 500;
                text-transform: capitalize;
            }
        }
        .deck-categories {
            .MuiChip-root {
                margin-left: $spacing-xs + 1px;
				height: 28px;
				border-radius: 14px;
				background-color: #f0f0f0;
				border: 1px solid #dcdcdc;
				color: #555;
				font-weight: 500;
				.MuiChip-label {
					padding: 0 $spacing-base;
				}
            }
        }
    }
    .deck-name {
		color: $primary-dark;
		font-weight: bold;
		font-size: $font-size-xl;
        margin: $spacing-sm + 2px 0 $spacing-sm + 2px 0;
    }

	.try-now-link {
		font-weight: bold;
		color: $cta-button-color;
		color: $accent-orange;
		text-decoration: none;
		display: flex;
		align-items: center;
		font-size: $font-size-sm;
        margin-left: auto;
        padding-top: $spacing-sm + 4px;
		.MuiSvgIcon-root {
			margin-left: $spacing-xs;
			font-size: $font-size-lg;
		}
	}
}

// Skeleton loader styles for deck cards
.deck-card.deck-card-skeleton {
  pointer-events: none;
  .card-content-top {
    .deck-info {
      .deck-skeleton-icon {
        margin-right: $spacing-sm;
      }
    }
  }
}
