@use "sass:color";
.deck-inputs-wrapper.MuiGrid-container {
	@media screen and (max-width: 660px) {
		max-width: 100%;
		padding: $spacing-sm;
	}
	button {
		margin-top: $spacing-sm + 2px;
	}
}
.deck-options {
	.MuiFormControl-root {
		margin-bottom: $spacing-base - 1px;
	}

	.deck-options-button-group {
		button {
			color: $text-primary;
		}
		// For active buttons in ButtonGroups
		.MuiButton-contained {
			background-color: $cta-button-color !important;
			color: $white !important;
			&:hover {
				background-color: color.adjust($cta-button-color, $lightness: -10%) !important;
			}
		}
	}

	.deck-options-content {
		padding-top: $spacing-sm;
	}

	.deck-options-list-label {
		margin-bottom: $spacing-base;
	}

	.deck-options-section-label {
		margin-top: $spacing-base;
		margin-bottom: $spacing-sm;
	}

	// For the main "Start Deck" button
	.start-deck-final-button {
		background-color: $cta-button-color !important;
		color: $white !important;
		width: 100%;
		border-radius: 0 0 4px 4px;
		padding: $spacing-sm 0;
		margin-top: auto;
		&:hover {
			background-color: color.adjust($cta-button-color, $lightness: -10%) !important;
		}
	}
}