.demo-drawer {
	.drawer-header {
		padding: $spacing-base $spacing-base 0 $spacing-base;
	}
	.drawer-content {
		padding: $spacing-base;
		max-width: 100%;
		overflow-y: auto;
	}

	.title {
		font-size: $font-size-xl;
		font-weight: bold;
		margin-bottom: $spacing-sm + 2px;
		margin-right: $spacing-xl;
		span {
			display: inline-block;
		}
	}

	.subtitle {
		font-size: $font-size-base;
		color: #6c757d;
	}

	.decks-container {
		max-width: 100%;
	}
	> .MuiPaper-root {
		background: white;
	}
}