.demo-drawer {
	.drawer-header {
		padding: 20px 20px 0 20px;
	}
	.drawer-content {
		padding: 20px;
		max-width: 100%;
		overflow-y: auto;
	}

	.title {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 10px;
		margin-right: 40px;
		span {
			display: inline-block;
		}
	}

	.subtitle {
		font-size: 1rem;
		color: #6c757d;
	}

	.decks-container {
		max-width: 100%;
	}
	> .MuiPaper-root {
		background: white;
	}
}